.select-plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .form__header {
    grid-column: 1/-1;
  }

  @media only screen and (max-width: 37.5em) {
    display: block;
  }
}

.summary {
  color: var(--color-dark-blue-1);
}

.all-line {
  grid-column: 1/-1;
  display: block;
  display: flex;
  justify-content: center;
  &--gray {
    background-color: var(--color-magnolia);
  }
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
