:root {
  --color-dark-blue-1: hsl(213, 96%, 18%);
  --color-dark-blue-2: hsl(243, 100%, 62%);
  --color-light-blue-1: rgb(173, 190, 255);
  --color-light-blue-2: rgb(191, 226, 253);
  --color-red: hsl(354, 84%, 57%);
  --color-dark-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: rgb(240, 246, 255);
  --color-alabaster: rgb(250, 251, 255);
  --color-white: hsl(0, 0%, 100%);
}
